<div class="container-fluid jumbotron" style="height: 500px; padding: 10px 0px 0px 0px;">
  <div ng-include="'partials/navbar.html'"></div>
</div>

<h2 class="index_center_h2">当前流行主题</h2>
<div class="container" ng-controller="PopCategoryCtrl">
  <div class="index_pop_categories">
    <span class="index_pop_category" ng-repeat="pop in popcates | orderBy:'-popularity'">
        <a href="#/category/{{category.engName}}">{{pop.name}}</a>
    </span>
  </div>
</div>

<h2 class="index_center_h2">流行课程</h2>
<div class="container" id="index_pop_course" ng-controller="PopCourseCtrl">
  <span class="col-md-3 index_col-md-" ng-repeat="item in popCourse">
    <img class="index_pop_course_thumbnail" src="{{item.imageURL}}" alt="{{item.name}}" />
    <div class="index_pop_course_name"><a href="#/item/{{item.id}}">{{item.name}}</div>
  </span>
</div>
